/* body {
  background-color: black;
  color: white;
} */
#display-image {
  width: 375px;
  height: 211px;
  border: 1px solid #000;
  background-position: center;
  background-size: cover;
}
.canvas {
  border: 2px solid black;
}
canvas {
  position: absolute;
  /* background-color: rgb(197, 193, 193); */
}

#container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.tools {
  display: flex;
  justify-content: center;
}

.color-field {
  height: 40px;
  width: 40px;
  min-width: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50px;
  border: 2px solid white;
}

#drawing-triangle {
  background-color: blueviolet;
}

#color-picker {
  position:relative;
  top:20px;
  height:70px;
  width:130px;
}
#pen-size{
  position: relative;
}
.special{
  position: relative;
  top:33px;
}
#spray {
  background-color: rgba(147, 172, 33, 0.758);
}

#image-input {
  background-color: burlywood;
}

/* #feature-container {
  display: flex;
} */


#pick-color{
  position: relative;
  top:18px;
}


#pen-size {
  display: flex;
  margin-top: 20px;
}
button{
  margin:5px;
}


.drag-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  border-radius: 20px;
  background: #e0eafc;
  background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc);
  background: linear-gradient(to right, #cfdef3, #e0eafc);
}

.drag-container{
  height: 400px;
  border: 3px dashed #e0eafc;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
