body {
  /* background-color: black; */
  /* color: white; */
}
.canvas {
  border: 2px solid black;
}
canvas {
  position: absolute;
  /* background-color: rgb(197, 193, 193); */
}

#container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.tools {
  display: flex;
  justify-content: center;
}

.color-field {
  height: 40px;
  width: 40px;
  min-width: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50px;
  border: 2px solid white;
}